body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.90);
  color: white;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos {
  color: black;
  font-weight: 300;
  background-color: teal !important;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: white;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.navbar-brand img {
  width: 15em;
}
